@model CoexpParams
@{
    ViewData["Title"] = "Gene Set Annotation";
}

@Html.HiddenFor(m => m.Category)
@Html.HiddenFor(m => m.Network)
@Html.HiddenFor(m => m.ModuleColor)
@Html.HiddenFor(m => m.Genes)

    <div class="breadcrumb">
        @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
        {
            <span class="main-label-breadcrumbs">CoExp</span>@*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="active">Gene Set Annotation</span>

        }
        @*@if (ViewContext.RouteData.Values["action"].ToString() != "Index")
        {
            @Html.ActionLink("Gene Set Annotation", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
        }*@
    </div>
<div class="row">
    <div class="col-sm-3 sidebar menu">
        <h4>Please, make your selection:</h4>
        <hr class="menu-hr" />
        <div id="step1">
            <label for="tree">Network:</label><br />
            <div id="tree"></div>
        </div>

        <div id="step2">
            <label for="genes">Genes:</label><br />
            <textarea class="form-control" rows="7" id="genes" placeholder="Type your genes ..."></textarea>
        </div>

        <br>
        <hr class="menu-hr" />
        <div id="step3">
            <button id="send_button" class="btn btn-primary">Accept</button>
        </div>
    </div>



    <div id="step4" class="col-md-9">
     
        <div id="empty-initial-results">
            <p>Your results will appear here.</p>
        </div>
    
        <div id="genes_not_found" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button id="close_feedback" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3>Your Gene List</h3>
                        <hr />
                        <div class="text-left">
                            <h4></h4><hr/>
                            <h4></h4>
                            <p>
                                The following genes have not been found within the networks selected.<br />
                                Would you like to continue with your query?
                            </p>
                        </div>
                    </div>
                    <div class="modal-body mx-3 pre-scrollable">
                        <table id="table_genes_not_found" class="table table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <td>Entered</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button onclick="javascript:API.prototype.genesNotFoundAction('continue');" class="btn btn-success">Continue</button>
                        <button onclick="javascript:API.prototype.genesNotFoundAction('cancel');" class="btn btn-dark">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="reportOnGenes_div" style="display:none;">
            <h3><u>Gene Annotation</u></h3>
            <br>
            <table id="reportOnGenes_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>gene</th>
                        <th>category</th>
                        <th>network</th>
                        <th>ensgene</th>
                        <th>fisher</th>
                        <th>module</th>
                        <th>mm</th>
                        <th>size</th>
                        <th>go_report</th>
                        <th>cell_type_pred</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="summariseClustering_div">
            <h3><u>Summarise Clustering</u></h3>
            <br>
            <table id="summariseClustering_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>network</th>
                        <th>category</th>
                        <th>module</th>
                        <th>overlap</th>
                        <th>gene</th>
                        <th>fisher @*<span class="glyphicon glyphicon-info-sign"></span>*@</th>
                        <th>size</th>
                        <th>go_report</th>
                        <th>cell_type_pred</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="globalReportOnGenes_div">
            <h3><u>Gene Annotation</u></h3>
            <br>
            <table id="globalReportOnGenes_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>gene</th>
                        <th>category</th>
                        <th>network</th>
                        <th>ensgene</th>
                        <th>fisher</th>
                        <th>FDR</th>
                        <th>Bonferroni</th>
                        <th>module</th>
                        <th>mm</th>
                        <th>size</th>
                        <th>go_report</th>
                        <th>cell_type_pred</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="globalSummariseReportOnGenes_div">
            <h3><u>Summarise Clustering</u></h3>
            <br>
            <table id="globalSummariseReportOnGenes_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>network</th>
                        <th>category</th>
                        <th>module</th>
                        <th>overlap</th>
                        <th>gene</th>
                        <th>fisher @*<span class="glyphicon glyphicon-info-sign"></span>*@</th>
                        <th>FDR</th>
                        <th>Bonferroni</th>
                        <th>size</th>
                        <th>go_report</th>
                        <th>cell_type_pred</th>
                    </tr>
                </thead>
            </table>
        </div>
        <br>
        <div id="error" class="alert alert-danger">
            <h4></h4>
        </div>
    </div>
    <div class="loading_layer"><!-- loading layer --></div>

</div><br>
@section HeadStyles{
    <link type="text/css" rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/buttons.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/fixedColumns.dataTables.min.css" />
    

        <link type="text/css" rel="stylesheet" href="~/css/custom.dataTables.css" />
        <link type="text/css" rel="stylesheet" href="~/css/simTree.css">

}
@section Scripts{
    <script type="text/javascript" src="~/js/underscore-min.js"></script>

    <!--Multiselect scripts -->
    <script type="text/javascript" src="~/js/simTree.min.js"></script>

    <!-- DataTable scripts-->
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="~/js/api.js"></script>


    <script type="text/javascript" src="~/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/js/jszip.min.js"></script>
    <script type="text/javascript" src="~/js/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/js/vfs_fonts.js"></script>

    <script>
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_gene_set_annotation").addClass("active");

            API.prototype.menuInit(3);
            $.fn.dataTable.ext.errMode = 'none';
            $("#empty-initial-results").css("visibility", "visible");
            
        });

        function startIntro(){
            var intro = introJs();
              intro.setOptions({
                steps: [
                  {
                    element: '#step1',
                        intro: "<div class='customHelpHeader'>Category</div><p>Select here your preferred type of co-expression networks.</p>",
                        position: 'right',
                
                    tooltipClass: 'customStep1'
                  },
                  {
                    element: '#step2',
                    intro: "<b>Genes</b><br/><br/>Type your list of genes.",
                    position: 'right'
                  },
                  {
                    element: '#step3',
                    intro: "<b>Accept</b><br/><br/>Once you are ready, press 'Accept' to send your query.",
                    position: 'right'
                  },
                  {
                    element: '#step4',
                    intro: "<b>Results</b><br/><br/>This is the results area. Here will appear all your results.",
                    position: 'right'
                  }
                ]
              });

            

            var doneTourAnnotated = sessionStorage.getItem('EventTourAnnotated') === 'Completed';
            if (doneTourAnnotated) {
                return;
            }
            else {
                intro.start();

                intro.oncomplete(function () {
                    sessionStorage.setItem('EventTourAnnotated', 'Completed');
                });

                intro.onexit(function () {
                    sessionStorage.setItem('EventTourAnnotated', 'Completed');
                });
            }

          }
    </script>
}
