@model CoexpParams
@{
    ViewData["Title"] = "Gene Set Annotation";
}

@Html.HiddenFor(m => m.Category)
@Html.HiddenFor(m => m.Network)
@Html.HiddenFor(m => m.ModuleColor)
@Html.HiddenFor(m => m.Genes)

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>@*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Gene Set Annotation</span>

    }
</div>
<div class="row">
    <div class="col-sm-3 sidebar menu">
        <div id="step1">
            <span class="fa-li" data-toggle="tooltip"
                  data-placement="right"
                  data-html="true"
                  title="<p>Select here your preferred <b>gene co-expression network</b>. You can select one or more networks from the same category or from multiple categories. For further information about the networks, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>">
                <i class="fa fa-info-circle fa-fw"></i>
            </span><p class="fa-li-p" for="tree">Network:</p>
            <div id="tree"></div>
        </div>

        <div id="step2">
            <span class="fa-li" data-toggle="tooltip"
                  data-placement="right"
                  data-html="true"
                  title="Type here a <b>list of genes</b> in a comma-separated or blank-space-separated format. The list provided by default contains 35 green genes obtained from the Parkinson Disease and Complex Parkinsonism (Version 1.68) Genomics England panel App.<br/>Please, feel free to use your own gene list (be aware that the larger is the list, the longer the request may take).">
                <i class="fa fa-info-circle fa-fw"></i>
            </span><p class="fa-li-p" for="genes">Genes:</p>
            <button id="button-paste-list" class="btn btn-default">Paste Default</button>&nbsp;<button id="button-clear-list" class="btn btn-default">Clear list</button><br />
            <textarea class="form-control" rows="7" id="genes" placeholder="Type your genes ..."></textarea>
        </div>
        <hr class="menu-hr" />
        <div id="step3">
            <button id="send_button" class="btn btn-primary">Accept</button>
        </div>
    </div>



    <div id="step4" class="col-md-9">

        <div id="empty-initial-results">
            <p>Your results will appear here.</p>
        </div>

        <div id="genes_not_found" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button id="close_feedback" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3>Your Gene List</h3>
                        <hr />
                        <div class="text-left">
                            <p>
                                The following genes have not been found within the networks selected.<br />
                                Would you like to continue with your query?
                            </p>
                        </div>
                    </div>
                    <div class="modal-body mx-3 pre-scrollable">
                        <table id="table_genes_not_found" class="table table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <td>Entered</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button onclick="javascript:API.prototype.genesNotFoundAction('continue');" class="btn btn-success">Continue</button>
                        <button onclick="javascript:API.prototype.genesNotFoundAction('cancel');" class="btn btn-dark">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="reportOnGenes_div" style="display:none;">
            <h3><u>Gene Annotation</u></h3>
            <br>
            <table id="reportOnGenes_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Gene</th>
                        <th>Category</th>
                        <th>Network</th>
                        <th>Gene Ensembl</th>
                        <th>p-value Fisher</th>
                        <th>Module</th>
                        <th>Module Membership</th>
                        <th>Module Size</th>
                        <th>Go Term</th>
                        <th>Cell Type</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Gene</th>
                        <th>Category</th>
                        <th>Network</th>
                        <th>Gene Ensembl</th>
                        <th>p-value Fisher</th>
                        <th>Module</th>
                        <th>Module Membership</th>
                        <th>Module Size</th>
                        <th>Go Term</th>
                        <th>Cell Type</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="summariseClustering_div">
            <h3><u>Summarise Clustering</u></h3>
            <br>
            <table id="summariseClustering_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>network</th>
                        <th>category</th>
                        <th>module</th>
                        <th>overlap</th>
                        <th>gene</th>
                        <th>fisher</th>
                        <th>size</th>
                        <th>go_report</th>
                        <th>cell_type_pred</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>network</th>
                        <th>category</th>
                        <th>module</th>
                        <th>overlap</th>
                        <th>gene</th>
                        <th>fisher</th>
                        <th>size</th>
                        <th>go_report</th>
                        <th>cell_type_pred</th>
                    </tr>
                </tfoot>
            </table>
        </div>*@
        
    <div id="globalReportOnGenes_div">

        <h2>Gene Annotation</h2>
        <p>
            The table below displays in which modules, from the selected co-expression networks, have clustered together the list of genes introduced.
            Each row contain each one of the typed genes that have been successfully found in any of the modules belonging to the networks selected.
            The columns, on the other hand, show information related to the gene and the module where it has been found, including different p-values supporting that membership.
            The raw data that supports the generation of this data table is available to be downloaded under the three buttons placed on its upper-left-side corner.<br />
            Press 'SUMMARISE CLUSTERING' button to group the results by module.
        </p>
        <br>
        <table id="globalReportOnGenes_table" class="table table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Gene</th>
                    <th>Category</th>
                    <th>Network</th>
                    <th>Gene Ensembl</th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>This p-value figure represents the level of significance corresponding to the overlap between your gene list and the genes lying within the current module.<br/><br/>This p-value has been obtained by applying the Fisher's exact test over the beforementioned overlap of genes.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">Fisher p-value</span>
                    </th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>This p-value represents how significant is the overlap between your gene list and the genes that lie within the current module.<br/><br/>This p-value has been obtained by the Fisher's Exact test adjusted by a 'False Discovery Rate' function for multiple testing.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">FDR p-value</span>
                    </th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>p-value that represents how significant is the overlap between your gene list and the genes that lie within the current module.<br/><br/>This p-value has been corrected by the Bonferroni correction factor. This method applies its correction based on the number of modules per each network that contains any gene from your input set.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">Bonferroni p-value</span>
                    </th>
                    <th>Module</th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>Represents the degree of membership of the current gene to the current module.<br /><br />When the module membership (mm) is close to 0, the likelihood of that gene belonging to the current module is very low. When the mm is close to 1 or −1, the likelihood of that gene belonging to the current module is very high.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">Module Membership</span>
                    </th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>Total number of genes that have been clustered together within the current module.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">Module Size</span>
                    </th>
                    <th>GO Report</th>
                    <th>Cell Type</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="globalSummariseReportOnGenes_div">

        <h2>Summarise Clustering</h2>
        <p>
            The table below displays the results grouped by module, showing the overlap of the introduced genes that have clustered together in the same module.<br />
            Press 'EXPAND RESULTS' button to come back to the original data table view.
        </p>
        <br>
        <table id="globalSummariseReportOnGenes_table" class="table table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Network</th>
                    <th>Category</th>
                    <th>Module</th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>Total number of genes from your gene list that have been found in the current module.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">Overlap</span>

                    </th>
                    <th>Gene</th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>This p-value figure represents the level of significance in the overlap between the genes from your list and the genes that lie within the current module.<br /><br/>This p-value has been obtained by applying the Fisher's exact test over the overlap of genes mentioned before.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">Fisher p-value</span>
                    </th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>p-value that represents how significant is the overlap between your gene list and the genes that lie within the current module.<br /><br/>This p-value has been obtained by the Fisher's Exact test adjusted by a 'False Discovery Rate' function for multiple testing.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">FDR p-value</span>
                    </th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>p-value that represents how significant is the overlap between your gene list and the genes that lie within the current module.<br /><br/>This p-value has been corrected by the Bonferroni correction factor. This method applies its correction based on the number of modules per each network that contains any gene from your input set.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">Bonferroni p-value</span>
                    </th>
                    <th>
                        <span class="fa-li" data-toggle="tooltip"
                              data-placement="top"
                              data-html="true"
                              title="<p>Total number of genes that have been clustered together within the current module.</p>">
                            <i class="fa fa-info-circle fa-fw"></i>
                        </span><span class="fa-li-p">Module Size</span>
                    </th>
                    <th>GO Report</th>
                    <th>Cell Type</th>
                </tr>
            </thead>
        </table>
    </div>
        <br>
        <div id="error" class="alert alert-danger">
            <h4></h4>
        </div>
    </div>
    <div class="loading_layer"><!-- loading layer --></div>

</div>
<br>
@section HeadStyles{}
@section Scripts{
    
    <script>

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_gene_set_annotation").addClass("active");

            API.prototype.menuInit(3);
            $.fn.dataTable.ext.errMode = 'none';
            $("#empty-initial-results").css("visibility", "visible");

        });

        $("#button-paste-list").click(function () {
            $('#genes').val('ATP13A2 ATP1A3 C19orf12 CSF1R DCTN1 DNAJC6 FBXO7 FTL GBA GCH1 GRN LRRK2 LYST MAPT OPA3 PANK2 PARK7 PINK1 PLA2G6 PRKN PRKRA PTRHD1 RAB39B SLC30A10 SLC39A14 SLC6A3 SNCA SPG11 SPR SYNJ1 TH TUBB4A VPS13A VPS35 WDR45');

        });
        $("#button-clear-list").click(function () {
            $('#genes').val('');

        });

        function startIntro() {
            var intro = introJs();
            intro.setOptions({
                steps: [
                    {
                        element: '#step1',
                        intro: "<p><b>Network</b></p><p>Select here your preferred gene co-expression network. You can select one or more networks from the same category or from multiple categories.<br/><br/>It has been pre-selected the <b>'SNIG'</b> network from the <b>'10UKBEC'</b> category. For further information about the networks, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>",
                        position: 'right'
                    },
                    {
                        element: '#step2',
                        intro: "<b>Genes</b><br/><br/>Type here a list with your genes of interest in a comma-separated or blank-space-separated format.<br/><br/>The gene list provided by default contains 35 green genes obtained from the Parkinson Disease and Complex Parkinsonism (Version 1.68) Genomics England panel App. More info (<a href='https://panelapp.genomicsengland.co.uk/panels/39/' target='_blank'>here</a>). <br/><br/> Please, feel free to use your own gene list (be aware that the larger is the list, the longer the request may take).",
                        position: 'right'
                    },
                    {
                        element: '#step3',
                        intro: "<b>Accept</b><br/><br/>Once you are ready, press 'Accept' to submit your query.",
                        position: 'right'
                    },
                    {
                        element: '#step4',
                        intro: "<b>Results</b><br/><br/>This is the results area.",
                        position: 'right'
                    }
                ]
            });
            intro.onbeforechange(function (targetElement) {

                if (targetElement.id == "step2") {
                    $('#genes').val('ATP13A2 ATP1A3 C19orf12 CSF1R DCTN1 DNAJC6 FBXO7 FTL GBA GCH1 GRN LRRK2 LYST MAPT OPA3 PANK2 PARK7 PINK1 PLA2G6 PRKN PRKRA PTRHD1 RAB39B SLC30A10 SLC39A14 SLC6A3 SNCA SPG11 SPR SYNJ1 TH TUBB4A VPS13A VPS35 WDR45');
                }
            });


            var doneTourAnnotated = sessionStorage.getItem('EventTourAnnotated') === 'Completed';
            if (doneTourAnnotated) {
                $('#genes').val('ATP13A2 ATP1A3 C19orf12 CSF1R DCTN1 DNAJC6 FBXO7 FTL GBA GCH1 GRN LRRK2 LYST MAPT OPA3 PANK2 PARK7 PINK1 PLA2G6 PRKN PRKRA PTRHD1 RAB39B SLC30A10 SLC39A14 SLC6A3 SNCA SPG11 SPR SYNJ1 TH TUBB4A VPS13A VPS35 WDR45');

                return;
            }
            else {
                intro.start();

                intro.oncomplete(function () {
                    sessionStorage.setItem('EventTourAnnotated', 'Completed');
                });

                intro.onexit(function () {
                    sessionStorage.setItem('EventTourAnnotated', 'Completed');
                });
            }

        }
    </script>
}
