@model CoexpParams
@{
    //View of the main page
    ViewData["Title"] = "Network Catalog";
}

@Html.HiddenFor(m => m.Category)
@Html.HiddenFor(m => m.Network)
@Html.HiddenFor(m => m.ModuleColor)
@Html.HiddenFor(m => m.Genes)


<header>
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <b>CoExp</b>@*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @:> @Html.ActionLink("Network Catalog", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
    }
</header>
<div class="row">
    <nav class="col-sm-3 sidebar">
        <br />
        <h4>Please, make your selection:</h4>
        <br />
        @*<p><a id="SNCA" href='#' data-trigger="focus" data-html='true' data-placement="bottom" title='SNCA' data-content=''>SNCA</a></p>
            <p><a id="0016054" href='#' data-trigger="hover" data-html='true' data-placement="bottom" title='GO:0016054' data-content=''>GO:0016054</a></p>*@
        <label for="category">Category</label>
        <select id="category" name="category" class="selectpicker" title="Select an option ..."></select>
        <br /><br />

        <label for="network">Network</label>
        <select id="network" name="network" class="selectpicker" title="Select an option ..."></select>
        <br /><br />

        <label for="module_selection">Module selection</label>
        <select id="module_selection" class="selectpicker" multiple data-actions-box="true" title="Select an option ...">
            <option value="1">By ontology/color</option>
            <option value="2">By cell type</option>
        </select>

        <br /><br />
        <button id="send_button" class="btn btn-primary">Accept</button>
    </nav>

    <main>
        <nav class="col-sm-9">
            <br />
            <!-- Nav tabs -->
            <ul id="tabs" class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="active"><a href="#tab1" aria-controls="example1-tab1" role="tab" data-toggle="tab">By Ontology</a></li>
                <li role="presentation"><a href="#tab2" aria-controls="example1-tab2" role="tab" data-toggle="tab">By Cell Type</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                    <div id="goFromTissue_div" style="display:none">
                        <br />
                        <table id="goFromTissue_table" class="table table-striped table-bordered wrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>module</th>
                                    <th>p.value</th>
                                    <th>module.size</th>
                                    <th>term.id</th>
                                    <th>ontology</th>
                                    <th>term.name</th>
                                    <th>genes.in.both</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <br />
                    <div id="goFromTissue_divError" style="display:none;" class="alert alert-danger">
                        <h4>Sorry. An error has occurred.</h4>
                    </div>


                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab2">
                    <div id="cellType_div" style="display:none;">
                        <br />
                        <table id="cellType_table" class="table table-striped table-bordered nowrap" style="width:100%"></table>
                    </div>
                    <br />
                    <div id="cellType_divError" style="display:none;" class="alert alert-danger">
                        <h4>Sorry. An error has occurred.</h4>
                    </div>

                </div>
            </div>


            <div id="error" style="display:none;">
                <br />
                <h4>Please, select a module selection type.</h4>
                <br />
            </div>
        </nav>
    </main>
    <div class="modal"><!-- loading layer --></div>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/fixedColumns.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/custom.dataTables.min.css" />
}
@section Scripts{

    <script type="text/javascript" src="~/js/underscore-min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.bootstrap4.min.js"></script>
    <environment include="Development">
        <script type="text/javascript" src="~/js/api.js"></script>
    </environment>
    <environment include="Production,Private">
        <script type="text/javascript" src="~/js/api.min.js"></script>
    </environment>

    <script type="text/javascript" src="~/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/js/jszip.min.js"></script>
    <script type="text/javascript" src="~/js/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/js/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.fixedColumns.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-placement='bottom']").popover();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            });

            const modelReceived = @(Model.ModuleColor == null ? 0 : 1);

            //If the model doesn't have any data:
            if (modelReceived == 0)
                API.prototype.menuInit(1);
            else {

                //$("div.row").children(".sidebar").hide();
                API.prototype.menuInit(11);
                $("div.navbar-collapse").children("ul").remove();
                $("div.row").children(".sidebar").hide();

            }
            $.fn.dataTable.ext.errMode = 'none';
        });
    </script>
}