@model CoexpParams
@{
    //View of the main page
    ViewData["Title"] = "Network Catalog";
}

@Html.HiddenFor(m => m.Category)
@Html.HiddenFor(m => m.Network)
@Html.HiddenFor(m => m.ModuleColor)
@Html.HiddenFor(m => m.Genes)


    <div class="breadcrumb">
        @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
        {
            <span class="main-label-breadcrumbs">CoExp</span>@*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
            <span class="glyphicon glyphicon-chevron-right"></span>
        }
        @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
        {
            <span class="active">Network Catalogue</span>
            @*@if (Model.ModuleColor != null)
            {
                <span class="active">Network Catalogue</span>
            }else {
                @Html.ActionLink("Network Catalogue", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
            }*@
        }
    </div>
<div class="row">
    <div id="menu" class="col-sm-3 sidebar menu">
        <div id="menu_gene_list" class="hidden">
            <h4>Gene List</h4>
            <hr class="menu-hr" />
            <h5>Please, click the button below to download the gene list of this module:</h5>
            <button id="get_gene_list" type="button" class="btn btn-info">Get Gene List</button>
        </div>
        <div id="menu_data">
            <h4>Please, make your selection:</h4>
            <hr class="menu-hr" />

            <div id="step1">
                <label for="category_dropdown">Category</label>
                <i class="glyphicon glyphicon-info-sign"
                    data-toggle="tooltip"
                    data-placement="right"
                    data-html="true"
                    title="<br/><p>CATEGORY</p><hr/><ul style='text-align: left;'> <li>ROSMAP, contains 4 case and control Frontal Cortex co-expression networks;</li><br/><li>GTEx V6, contains 47 co-expression networks in control tissue;</li><br/><li>10UKBEC, contains 10 Illumina microarray-based gene expression profiling networks from brain control tissue;</li><br/><li>GTEx V7, contains a beta version of the same 47 co-expression networks from GTExV6;</li><br/><li>NABEC, contains 1 gene co-expression network created from RNA-seq control Cortex samples.</li></ul>"
                    style="vertical-align: middle;"></i>
                <br />
                <select id="category_dropdown" name="category" class="selectpicker" title="Select an option ...">
                    @*<option></option>*@
                </select>
            </div><br>

            <div id="step2">
                <label for="network_dropdown">Network</label>
                <span class="glyphicon glyphicon-info-sign"
                      aria-hidden="true"
                      data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="<br/><p>NETWORK</p><hr/><p>Contains all co-expression networks that belong to the category selected in the 'Category' dropdown menu.</p><br/>"
                      style="vertical-align: middle;"></span><br />
                <select id="network_dropdown" name="network" class="selectpicker" title="Select an option ...">
                    <option></option>
                </select>
            </div> <br>

            <div id="step3">
                <label for="module_selection">Show results by ...</label>
                <i class="glyphicon glyphicon-info-sign"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-html="true"
                   title="<br/><p>SHOW RESULTS BY ...</p><hr/><p>These are the different types of results that can be retrieved in this query. You can select only one or both views.</p><br/>"
                   style="vertical-align: middle;"></i><br />
                <select id="module_selection" class="selectpicker" multiple title="Select an option ...">
                    <option value="1">Ontology</option>
                    <option value="2">Cell Type</option>
                </select>
            </div><br>

            <hr class="menu-hr" />
            <div id="step4">
                <button id="send_button" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>

    <div id="step5" class="col-md-9">
        <div id="empty-initial-results">
            <p>Your results will appear here.</p>
        </div>
        <!-- Nav tabs -->
        <ul id="tabs" class="nav nav-tabs" style="display:none">
            <li class="active"><a href="#tab1" data-toggle="tab">Ontology view</a></li>
            <li><a href="#tab2" data-toggle="tab">Cell Type view</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div class="tab-pane fade in active" id="tab1">
                <div id="goFromTissue_div" style="display:none">
                    <h2>Ontology view</h2>
                    <p>
                        The data table below displays in the rows all modules that belong to the co-expression network selected. On the other hand, the columns provide information related to the ontology term that more strongly correlates with the genes clustered within each module.
                        The p-value column supports the overlap between the ontology term returned and the genes clustered in the current module. 
                        The raw data that supports the generation of this data table is available to be downloaded under the three buttons placed on the upper-left-side corner of the table.
                    </p>
                    <br>
                    <table id="goFromTissue_table" class="table table-striped table-bordered wrap" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Module</th>
                                <th>p-value</th>
                                <th>Module Size</th>
                                <th>term.id</th>
                                <th>Ontology</th>
                                <th>Ontology Term</th>
                                <th>genes.in.both</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Module</th>
                                <th>p-value</th>
                                <th>Module Size</th>
                                <th>term.id</th>
                                <th>Ontology</th>
                                <th>Ontology Term</th>
                                <th>genes.in.both</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <br>
                <div id="goFromTissue_divError" style="display:none;" class="alert alert-danger">
                    <h4>Sorry. An error has occurred.</h4>
                </div>


            </div>
            <div class="tab-pane fade" id="tab2">
                <div id="cellType_div" style="display:none;">
                    <h2>Cell Type view</h2>
                    <p>
                        The data table below displays in the columns all modules that belong to the co-expression network selected. On the other hand, the rows contain the different cell types.
                        The intersection between each row and column contains a p-value, corrected by the Bonferroni method, that supports the linkage between each cell type and all genes found in the corresponding module.
                        The raw data that supports the generation of this data table is available to be downloaded under the three buttons placed on the upper-left-side corner of the table.
                    </p>
                    <br>
                    <table id="cellType_table" class="table table-striped table-bordered nowrap" style="width:100%">
                        @*<tbody><tr><td></td></tr></tbody>*@
                    </table>
                </div>
                <br>
                <div id="cellType_divError" style="display:none;" class="alert alert-danger">
                    <h4>Sorry. An error has occurred.</h4>
                </div>

            </div>
        </div>


        <div id="error">
            <br>
            <h4>Please, select a module selection type.</h4>
            <br>
        </div>
    </div>
    <div class="loading_layer"><!-- loading layer --></div>
</div>
@section HeadStyles{
    <link type="text/css" rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/buttons.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/fixedColumns.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/custom.dataTables.min.css">
}
@section Scripts{
    <script type="text/javascript">
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_network_catalogue").addClass("active");
    </script>

    <script type="text/javascript" src="~/js/underscore-min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.bootstrap4.min.js"></script>

    <environment include="Development,Docker,Private">
        <script type="text/javascript" src="~/js/api.js"></script>
    </environment>
    <environment include="Production">
        <script type="text/javascript" src="~/js/api.min.js"></script>
    </environment>

    <script type="text/javascript" src="~/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/js/jszip.min.js"></script>
    <script type="text/javascript" src="~/js/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/js/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.fixedColumns.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $("[data-placement='bottom']").popover();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            });

            const modelReceived = @(Model.ModuleColor == null ? 0 : 1);

            //If the model doesn't have any data:
            if (modelReceived == 0)
                API.prototype.menuInit(1);
            else {
                API.prototype.menuInit(11);
            }
            
        });

        
      function startIntro(){
        var intro = introJs();
          intro.setOptions({
              steps: [
                  {
                      element: '#step1',
                      intro: "<p><b>Category</b></p><p>Please, select here your preferred category of co-expression networks.</p>",
                      position: 'right',
                      scrollTo: 'tooltip'
                      
                  },
                  {
                      element: '#step2',
                      intro: "<b>Network</b><br/><br/>These are all co-expression networks that belong to the category selected in the previous step.",
                      position: 'right'
                  },
                  {
                      element: '#step3',
                      intro: "<b>Show results by...</b><br/><br/>These are the different types of results that can be retrieved in this query. You can select only one or both options.",
                      position: 'right'
                  },
                  {
                      element: '#step4',
                      intro: "<b>Accept</b><br/><br/>Once you are ready, press this button to send your query.",
                      position: 'right'
                  },
                  {
                      element: '#step5',
                      intro: "<b>Results</b><br/><br/>This is the results area. Your results will appear here.",
                      position: 'bottom'
                  }
              ]
          });

        var doneTourCatalogue = sessionStorage.getItem('EventTourCatalogue') === 'Completed';
        if (doneTourCatalogue) {
            return;
        }
        else {
            intro.start();

            intro.oncomplete(function () {
                sessionStorage.setItem('EventTourCatalogue', 'Completed');
            });

            intro.onexit(function () {
                sessionStorage.setItem('EventTourCatalogue', 'Completed');
            });
        }
   
      }
    
        
    </script>
}