@model CoexpParams
@{
    //View of the main page
    ViewData["Title"] = "Network Catalogue";
}

@Html.HiddenFor(m => m.Category)
@Html.HiddenFor(m => m.Network)
@Html.HiddenFor(m => m.ModuleColor)
@Html.HiddenFor(m => m.Genes)


<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>@*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Network Catalogue</span>
    }
</div>
<div class="row">
    <div id="menu" class="col-sm-3 col-md-3 col-lg-3 sidebar menu">
        <div id="menu_gene_list" class="hidden">
            <h4>Gene List</h4>
            <hr class="menu-hr" />
            <h5>Please, click the button below to download the gene list of this module:</h5>
            <button id="get_gene_list" type="button" class="btn btn-info">Get Gene List</button>
        </div>

        <div id="menu_data">

            <div id="step1">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="<p><b>Category</b> of gene co-expression networks. For further information, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="category_dropdown">Category:</p>
                
                <select id="category_dropdown" name="category" class="selectpicker" title="Select an option ...">
                </select>
            </div><br>

            <div id="step2">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="<p><b>Gene co-expression networks</b> that belong to the selected category. For further information, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="network_dropdown">Network:</p>
                
                <select id="network_dropdown" name="network" class="selectpicker" title="Select an option ...">
                    <option></option>
                </select>
            </div> <br>

            <div id="step3">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="These are the different types of results that can be retrieved in this query. You can select only one or both views.">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="view_selection">Show results by ...</p>
                
                <select id="view_selection" class="selectpicker" multiple title="Select an option ...">
                    <option value="1">Gene Ontology</option>
                    <option value="2">Cell Type</option>
                </select>
            </div>

            <hr class="menu-hr" />

            <div id="step4">
                <button id="send_button" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>

    <div id="step5" class="col-md-9">

        <div id="empty-initial-results">
            <p>Your results will appear here.</p>
        </div>

        <!-- Nav tabs -->
        <ul id="tabs" class="nav nav-tabs" style="display:none">
            <li class="active"><a href="#tab1" data-toggle="tab">Ontology view</a></li>
            <li><a href="#tab2" data-toggle="tab">Cell Type view</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <div id="goFromTissue_div" style="display:none">
                    <h2>Ontology view</h2>
                    <p>
                        The datatable below displays data in rows and columns, with one row for each module belonging to the co-expression network selected. The columns provide information related to the
                        ontology term that more strongly correlates with the genes clustered within each module.
                        The p-value column supports the overlap between the ontology term returned and the genes clustered within the current module.
                        The raw data behind the generation of this data table is available to be downloaded on the three buttons placed on the upper-left-side corner of the table.
                    </p>
                    <br>
                    <table id="goFromTissue_table" class="table table-striped table-bordered wrap"></table>
                </div>


            </div>
            <div class="tab-pane fade" id="tab2">
                <div id="cellType_div" style="display:none;">
                    <h2>Cell Type view</h2>
                    <p>
                        The datatable below displays in the columns all modules that belong to the co-expression network selected. The rows contain information associated to the different cell types.
                        The intersection between each row and column contains a p-value, corrected by the Bonferroni method, that supports the linkage between each cell type and all genes found in the corresponding module.
                        The raw data supporting the generation of this data table is available to be downloaded under the three buttons placed on the upper-left-side corner of the table.
                    </p>
                    <br>
                    <table id="cellType_table" class="table table-striped table-bordered nowrap table-responsive"></table>
                </div>
            </div>
        </div>
        <div id="error" style="display:none;" class="alert alert-danger">
            <h4>Sorry, a temporary error has occurred during the data retrieval.</h4>
            <h5>The webmaster has already been informed about this error and it will be sorted shortly. <br />Please, try again later.</h5>
        </div>

    </div>
    <div class="loading_layer"><!-- loading layer --></div>

</div>
@section HeadStyles{
    
}
@section Scripts{

    <script type="text/javascript">
        // Turn active current menu's option
        $(".nav-item").find(".active").removeClass("active");
        $("#tab_network_catalogue").addClass("active");
    </script>

   
    <script type="text/javascript">

        $(document).ready(function () {

            // Initiate the tooltips

            $('[data-toggle="tooltip"]').tooltip()

            $("[data-placement='bottom']").popover();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            });

            const modelReceived = @(Model.ModuleColor == null ? 0 : 1);

            //If the model doesn't have any data:
            if (modelReceived == 0)
                API.prototype.menuInit(1);
            else {
                API.prototype.menuInit(11);
            }

        });

        // Code for the initial tour (i.e. the aid)
          function startIntro(){
            var intro = introJs();
              intro.setOptions({
                  disableInteraction: true,
                  steps: [
                      {
                          element: '#step1',
                          intro: "<p><b>Category</b></p><p>Please, select here a category of co-expression networks.<br/><br/>It has been pre-selected the <b>'10UKBEC'</b> category. For further information about the networks, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>",
                          position: 'right',
                          scrollTo: 'tooltip'
                      },
                      {
                          element: '#step2',
                          intro: "<b>Network</b><br/><br/>These are all gene co-expression networks that belong to the category selected in the previous step.<br/><br/>It has been pre-selected the <b>'SNIG'</b> network. For further information about the networks, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>",
                          position: 'right'
                      },
                      {
                          element: '#step3',
                          intro: "<b>Show results by...</b><br/><br/>These are the different types of results that can be retrieved in this query.<br/><br/>Only the <b>'Gene Ontology'</b> view has been pre-selected by default. You can select only one or both views.",
                          position: 'right'
                      },
                      {
                          element: '#step4',
                          intro: "<b>Accept</b><br/><br/>Once you are ready, press this button to submit your query.",
                          position: 'right'
                      },
                      {
                          element: '#step5',
                          intro: "<b>Results</b><br/><br/>This is the results area.",
                          position: 'bottom'
                      }
                  ]
              });
              intro.onbeforechange(function (targetElement) {
              
                  if (targetElement.id == "step2" && $("#category_dropdown").val() == "10UKBEC") {
                      $('#network_dropdown').val('SNIG').change();
                      $('#network_dropdown')
                          .prop("disabled", false)
                          .selectpicker('refresh');
                  }
                  if (targetElement.id == "step3") {
                      $('#view_selection').val('1').change();
                      $('#view_selection')
                          .selectpicker('refresh');
                  }
              });

              var doneTourCatalogue = sessionStorage.getItem('EventTourCatalogue') === 'Completed';
              if (doneTourCatalogue) {
                  return;
              }
              else {
                  if (environment != "ATN_5843218Gt") {
                      intro.start();

                      intro.oncomplete(function () {
                          sessionStorage.setItem('EventTourCatalogue', 'Completed');
                      });

                      intro.onexit(function () {
                          sessionStorage.setItem('EventTourCatalogue', 'Completed');
                      });
                  }
              }
          }

    </script>
}